{
    "swagger": "2.0",
    "info": {
        "title": "Security API",
        "version": "1.0"
    },
    "host": "share.catrob.at",
    "basePath": "/pocketcode",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/checkToken/check.json": {
            "post": {
                "summary": "Check if a token of a user is still valid",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "The name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "The token of the user.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "601": {
                        "description": "Authentication of device failed: invalid auth-token!",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    }
                }
            }
        },
        "/api/register/Register.json": {
            "post": {
                "summary": "Register a native user",
                "operationId": "registerNativeUser",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "registrationUsername",
                        "in": "formData",
                        "description": "The name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "registrationEmail",
                        "in": "formData",
                        "description": "The email of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "registrationPassword",
                        "in": "formData",
                        "description": "The password of the user.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "601": {
                        "description": "The password or username was incorrect.",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "751": {
                        "description": "The password is missing.",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "753": {
                        "description": "Your password must have at least 6 characters.",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "765": {
                        "description": "Your email seems to be invalid",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "778": {
                        "description": "Email must not be blank!",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "757": {
                        "description": "This email address already exists.",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "777": {
                        "description": "This username already exists.",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "762": {
                        "description": "Username must not be blank",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "763": {
                        "description": "The username is invalid.",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiMessageModel"
                            }
                        }
                    },
                    "201": {
                        "description": "Registration successful!",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiRegisterModel"
                            }
                        }
                    }
                }
            }
        },
        "/api/login/Login.json": {
            "post": {
                "summary": "Login a native user",
                "operationId": "loginNativeUser",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "loginUsername",
                        "in": "formData",
                        "description": "The name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loginPassword",
                        "in": "formData",
                        "description": "The password of the user.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "601": {
                        "description": "The password or username was incorrect."
                    },
                    "751": {
                        "description": "The password is missing."
                    },
                    "762": {
                        "description": "Username must not be blank"
                    },
                    "753": {
                        "description": "Your password must have at least 6 characters."
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "items": {
                                "$ref": "#/definitions/ApiLoginModel"
                            }
                        }
                    },
                    "764": {
                        "description": "This username does not exist."
                    }
                }
            }
        }
    },
    "definitions": {
        "ApiDefaultModel": {
            "required": [
                "statusCode"
            ],
            "properties": {
                "statusCode": {
                    "type": "integer",
                    "format": "int64",
                    "example": "200"
                },
                "preHeaderMessages": {
                    "type": "string",
                    "example": ""
                }
            },
            "type": "object"
        },
        "ApiLoginModel": {
            "required": [
                "statusCode",
                "answer",
                "token"
            ],
            "properties": {
                "token": {
                    "type": "string",
                    "example": " ae2b1fca515949e5d54fb22b8ed95575"
                },
                "statusCode": {
                    "type": "integer",
                    "format": "int64",
                    "example": "200"
                },
                "preHeaderMessages": {
                    "type": "string",
                    "example": ""
                }
            },
            "type": "object"
        },
        "ApiMessageModel": {
            "required": [
                "statusCode",
                "answer"
            ],
            "properties": {
                "answer": {
                    "type": "string",
                    "example": "This is not the answer you are looking for!"
                },
                "statusCode": {
                    "type": "integer",
                    "format": "int64",
                    "example": "200"
                },
                "preHeaderMessages": {
                    "type": "string",
                    "example": ""
                }
            },
            "type": "object"
        },
        "ApiRegisterModel": {
            "required": [
                "statusCode",
                "answer",
                "token"
            ],
            "properties": {
                "token": {
                    "type": "string",
                    "example": " ae2b1fca515949e5d54fb22b8ed95575"
                },
                "answer": {
                    "type": "string",
                    "example": "This is not the answer you are looking for!"
                },
                "statusCode": {
                    "type": "integer",
                    "format": "int64",
                    "example": "200"
                },
                "preHeaderMessages": {
                    "type": "string",
                    "example": ""
                }
            },
            "type": "object"
        }
    }
}